$globalColor: #F35825;
$fontstyle: eurostile-extended, sans-serif;
.foter{
  width: 100%;
  background-color: #F5F6F8;
}

.foter-title{
  padding-bottom: 30px;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.foter-title::before{
  content: "";
  background-color: $globalColor;
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  width: 30px;
  height: 4px;
}
.foter-glob{
  display: flex;
}
.foter-adres{
  display: flex;
  width: 70%;
}
.foter-info{
  width: 70%;
}
.foter-icon{
  font-size: 20px;
  color: $globalColor;
  margin-right: 20px;
}
.social-network{
  display: flex;
  padding: 20px 0;
  & div{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  & div:hover{
    color: $globalColor;
  }
}
.foter-form{
  background-color: white;
  max-width: 92%;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}
.foter-items{
  display: flex;
}
.form-item{
  & input {
    height: 40px;
    background-color: #F4F4F4;
    border: none;
    margin-top: 10px;
    padding: 1.1rem 1.2rem;
    width: 93%;
    margin-right: 15px;
  }
  & button {
    background-color: $globalColor;
    color: white;
    width: 100%;
    height: 40px;
    font-size: .7rem;
    border: none;
    margin-top: 28px;
    cursor: pointer;
    padding: 0 20px;
  }
}

.map-container {
  width: 100%;
  height: 76%;
  border: 1px solid #ccc;
  border: none;
  display: flex;
  margin-top: 50px;
}

.map {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
  .foter{
    .container{
      width: 95%;
      margin: 0 auto;
    }
  }

}
@media screen and (max-width: 992px) {
  .map-container{
    width: 100%;
    height: 400px;
    .map{
      height: 400px;
    }
  }
}
@media  screen and (min-width: 330px) and (max-width: 600px){
  .map-container{
    margin-top: -5px;
  }
  .foter{
    .info{
      padding: 30p 0;
    }
  }
  .foter-glob{
    display: block;
    .foter-adres{
      width: 100%;
      margin-bottom: 20px;
    }
  }
 .foter-form{
   width: 100%;
   margin-top: 30px;
   display: block;
   margin: 0 auto;
   .foter-items{
     display: block;
     .form-item{
       width: 100%;
       & input{
         width: 100%;
       }
     }
   }
 }
}